/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Outfit";
  font-family: 1.125rem;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  font-size: 1.375rem;
  cursor: pointer;
}

h1:hover {
  color: hsl(178, 100%, 50%);
}

h2 {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 1rem;
}

p {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
}


.container {
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  width: 320px;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}



/* Image Section */

.image-container {
  position: relative;
}

.card-img__anchor {
  display: block;
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}


.view-icon {
  color: hsl(0, 0%, 100%);
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.image-container:hover .view-icon {
  opacity: 1;
}

.image-container:hover .overlay {
  opacity: 0.5;
}



/* Card body Section */

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.price-tag {
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

hr {
  border-bottom: none;
  border-width: 0;
  border-top: 1px solid  hsl(215, 32%, 27%);
}

/* Creator Section */

.creator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 14px 7px 0px;
}

.creator-image {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.card-attribution {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
}

.creator-name {
  color: hsl(0, 0%, 100%);
}

.creator-name:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 15px;
  font-size: 1rem;
}

footer a {
  color: hsl(178, 100%, 50%);
}
