body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit";
}

/* Container */
#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 16vh;
  box-shadow: 0px 20px 10px hsl(217, 54%, 11%), 10px 20px 10px hsl(217, 54%, 11%), -10px 20px 10px hsl(217, 54%, 11%);
}

@media (max-width: 1028px) {
  #container {
    margin-top: 10vh;
  }
}

.card {
  background-color: hsl(216, 50%, 16%);
  padding: 18px;
  border-radius: 8px;
}


/* Image */
.card__img {
  width: 100%;
  border-radius: 8px;
  height: 270px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: hsl(178, 100%, 50%);
  border-radius: 8px;
}

.img__container {
  position: relative;
}

.img__container:hover .overlay{
  opacity: 0.5;
}

.icon__view {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img__container:hover .text {
  opacity: 1;
}



/* Card details */
.name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
}

.name:hover {
  color: hsl(178, 100%, 50%);
}

.card__description {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.price__tag, .price__tag svg {
  color: hsl(178, 100%, 50%);
  font-size: 13px;
  font-weight: 400;
}

.time__description {
  color: hsl(215, 51%, 70%);
  font-size: 13px;
  padding-left: 105px;
}

hr {
  border-bottom: none;
  border-width: 0;
  border-top: 1px solid  hsl(215, 32%, 27%);
}

.creator__image {
  width: 10%;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100%;
  margin: 10px 10px 0 0;
}

.card__attribution {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  font-size: 13px;
}

.creator__name {
  color: hsl(0, 0%, 100%);
}

.creator__name:hover{
  color: hsl(178, 100%, 50%);
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
